// Color Variables
$primary-color: #034EA2;
$secondary-color: #eaf3ea;
$text-color: #03030f;
$text-color-light: #803b7a;
$text-color-dark: #1e1e4b;
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #efefef;
$light: #f8f9fe;
$gray: #f8f8f8;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'futura-bold';
$icon-font: 'themify';