<div id="day_schedule" class="col-md-6"><h4 id="today"></h4>
    <h6 id="date_greg_hijr"> - </h6>
    <table>
      <tr><td>Imsak</td><td id="imsak_time"> - </td></tr>
      <tr class="table-primary"><td>Subuh</td><td id="subuh_time" style="font-weight:bold"> - </td></tr>
      <tr><td>{{ i18n "terbit_time"}}</td><td id="terbit_time"> - </td></tr>
      <tr><td>Dhuhr</td><td id="dhohr_time"> - </td></tr>
      <tr><td>Asr</td><td id="asr_time"> - </td></tr>
      <tr class="table-primary"><td>Maghrib</td><td id="maghrib_time" style="font-weight:bold"> - </td></tr>
      <tr><td>Isya</td><td id="isya_time"> - </td></tr>
    </table>
  </div>