<script>
    fetch('/data/jadwal-puasa-cet.json')
        .then(function (response) {
            return response.json();
        })
        .then(function (data) {
            appendData(data);
        })
        .catch(function (err) {
            console.log('error: ' + err);
        });
    function appendData(data) {

        var daysSchedule=document.getElementById("day_schedule");
        if(daysSchedule!==undefined)
        {
            beginRange=new Date(data[0].greg_date);
            endRange=new Date(data[data.length-1].greg_date);

            var currentDate=new Date();
            if(currentDate<beginRange) currentDate=new Date(beginRange)   ;     

            var currData = data.find( ({ greg_date }) => new Date(greg_date).getTime() === currentDate.getTime() );
            console.log(beginRange);
            console.log(currentDate);
            console.log(currData);

            if(currData === undefined){
                daysSchedule.remove();
            } else
            {
                formatDailySchedule(currData);
            }
        }
        var ramadhanTab=document.getElementById("Ramadhan-tab")
        if (ramadhanTab!==undefined)
        {
        var tbody = ramadhanTab.getElementsByTagName("tbody")[0];
        for (var i = 0; i < data.length; i++) {



          var row=tbody.insertRow();
          const today=new Date();
          const rowDate=new Date(data[i].greg_date);
          if(rowDate.getFullYear()===today.getFullYear() && rowDate.getMonth()===today.getMonth() && rowDate.getDate()===today.getDate())
          {
            row.className="table-primary";
            formatDailySchedule(data[i]);
           
          }
          var ramCell=row.insertCell(0);
          ramCell.innerHTML=data[i].ramadhan;
          ramCell.className="d-none d-md-table-cell";
          
          var dateCell=row.insertCell(1);
          dateCell.innerHTML=formatDate(data[i].greg_date);
          
          var dayCell=row.insertCell(2);

          {{ if in .Site.Language "en" }}
          dayCell.innerHTML=data[i].day;
          {{ else if in .Site.Language "id" }}
          dayCell.innerHTML=data[i].hari;
          {{ else }}
          dayCell.innerHTML=data[i].dag;
          {{ end }}

          dayCell.className="d-none d-md-table-cell";
          row.insertCell(3).innerHTML=formatTime(data[i].imsak);
          row.insertCell(4).innerHTML=formatTime(data[i].subuh);
          var terbitCell=row.insertCell(5);
          terbitCell.innerHTML=formatTime(data[i].terbit);
          terbitCell.className="d-none d-lg-table-cell";

          var dhohrCell=row.insertCell(6);
          dhohrCell.innerHTML=formatTime(data[i].dhohr);
          dhohrCell.className="d-none d-sm-table-cell";
          var asrCell=row.insertCell(7);
          asrCell.innerHTML=formatTime(data[i].asr);
          asrCell.className="d-none d-sm-table-cell";
          row.insertCell(8).innerHTML=formatTime(data[i].maghrib);
          var isyaCell=row.insertCell();
          isyaCell.innerHTML=formatTime(data[i].isya);
          isyaCell.className="d-none d-sm-table-cell";

        }
        }
    }

    function formatDailySchedule(data)
    {
          document.getElementById("date_greg_hijr").innerHTML=formatDateFull(data.greg_date)+' ('+data.ramadhan+' Ramadhan 1443)';
          document.getElementById("imsak_time").innerHTML=formatTime(data.imsak);
          document.getElementById("subuh_time").innerHTML=formatTime(data.subuh);
          document.getElementById("terbit_time").innerHTML=formatTime(data.terbit);
          document.getElementById("dhohr_time").innerHTML=formatTime(data.dhohr);
          document.getElementById("asr_time").innerHTML=formatTime(data.asr);
          document.getElementById("maghrib_time").innerHTML=formatTime(data.maghrib);
          document.getElementById("isya_time").innerHTML=formatTime(data.isya);

          {{ if in .Site.Language "en" }}
          document.getElementById("today").innerHTML=data.day;
          {{ else if in .Site.Language "id" }}
          document.getElementById("today").innerHTML=data.hari;
          {{ else }}
          document.getElementById("today").innerHTML=data.dag;
          {{ end }}            
    }

    function formatTime(datetimeString)
    {
      const offset={{ .Params.offset | default 0 }};
      let datetime=new Date(datetimeString);
      if(offset!==0)
      {
        datetime.setMinutes(datetime.getMinutes()+offset);
      }
      return ('00'+datetime.getHours()).slice(-2)+':'+('00'+datetime.getMinutes()).slice(-2);
    }
    function formatDate(datetimeString)
    {
      let datetime=new Date(datetimeString);
      return datetime.getDate()+'-'+(datetime.getMonth()+1)+'-'+datetime.getFullYear().toString().substr(-2);
    }
    function formatDateFull(datetimeString)
    {
      let datetime=new Date(datetimeString);
      return ('00'+datetime.getDate()).slice(-2)+'-'+('00'+(datetime.getMonth()+1)).slice(-2)+'-'+datetime.getFullYear();
    }          
</script>     