{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="section-title">[NL] Pagina niet gevonden. <a href="{{ "/" | relLangURL }}">Terug naar hoofdpagina.</a></h3>
      </div>        
      <div class="col-12">
        <h3 class="section-title">[EN] Page not found <a href="{{ "/" | relLangURL }}">Back to main page.</a></h3>
      </div>        
      <div class="col-12">
        <h3 class="section-title">[ID] Halaman tidak ditemukan <a href="{{ "/" | relLangURL }}">Kembali ke halaman utama.</a></h3>
      </div>        
    </div>
  </div>
</section>
<!-- /about -->

{{ end }}


