{{ define "main" }}

<!-- contact -->
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title">{{ i18n "contact_us" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <form action="{{ site.Params.contact_form_action | safeURL }}" method="POST">
          <select class="form-control mb-3"  id="subject" name="subject">
            <option value="{{ i18n "enter_subject" }}">{{ i18n "enter_subject" }}</option>
            <option value="{{ i18n "subject_membership" }}">{{ i18n "subject_membership" }}</option>
            <option value="{{ i18n "subject_mualaf" }}">{{ i18n "subject_mualaf" }}</option>
            <option value="{{ i18n "subject_geboorte" }}">{{ i18n "subject_geboorte" }}</option>
            <option value="{{ i18n "subject_zakat_infaq_sadaqah" }}">{{ i18n "subject_zakat_infaq_sadaqah" }}</option>
            <option value="{{ i18n "subject_overlijden" }}">{{ i18n "subject_overlijden" }}</option>
            <option value="{{ i18n "subject_trouwen" }}">{{ i18n "subject_trouwen" }}</option>
            <option value="{{ i18n "subject_others" }}">{{ i18n "subject_others" }}</option>
          </select>
          <input type="text" class="form-control mb-3" id="name" name="name" placeholder="{{ i18n "enter_name" }}">
          <input type="email" class="form-control mb-3" id="mail" name="mail" placeholder="{{ i18n "enter_email" }}">
          <textarea name="message" id="message" class="form-control mb-3" placeholder="{{ i18n "enter_message" }}"></textarea>
          <button type="submit" value="send" class="btn btn-primary">{{ i18n "send" }}</button>
        </form>
      </div>
      <script>window.onbeforeunload = () => {
        for(const form of document.getElementsByTagName('form')) {
          form.reset();
        }
      }</script>
      <div class="col-lg-5 content">
        {{ .Content }}
        <a href="tel:{{ site.Params.mobile }}" class="text-color h5 d-block">{{ site.Params.mobile }}</a>
        <a href="mailto:{{ site.Params.email }}" class="mb-5 text-color h5 d-block">{{ site.Params.email }}</a>
        <p>{{ site.Params.address | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->

<!-- gmap 
<section class="section pt-0">
  <div id="map_canvas" 
  data-latitude="{{ site.Params.map.map_latitude }}"
  data-longitude="{{ site.Params.map.map_longitude }}" 
  data-marker="{{ site.Params.map.map_marker | absURL }}"
  data-marker-name="{{ site.Title }}"></div>
</section>
gmap -->

{{ end }}